/* this is my latest version 0.0.9 */

.img-responsive {
  padding: 15px;
}

.navbar-right a {
    background-image: url("pics/GitHub-Mark-120px-plus.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    padding-right: 50px !important;
}



h2.vignettes {
 padding-top: 20px;
 padding-bottom: 20px;

}


span.keywords {
  display: inline-block;
  padding: 5px;
  color: #FFFFFF;
  font-size: 12px;
  font-style: italic;
  border-radius: 5px; 
  background-color: #3E6DA9;
  margin-bottom: 25px;
}

span.keytitle {
  padding: 5px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

span.version {
  display: inline-block;
  padding: 5px;
  color: #FFFFFF;
  font-size: 12px;
  font-style: italic;
  border-radius: 5px; 
  background-color: green;
  margin-bottom: 10px;
}

span.versiontitle {
  padding: 5px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}


span.draft {
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  font-style: italic;
  border-radius: 5px; 
  color: black;
  background-color: #FCF8E3;
  margin-bottom: 10px;
}

span.incomplete {
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  font-style: italic;
  border-radius: 5px; 
  color: #F8F8FF;
  background-color: #FF0000;
  margin-bottom: 10px;
}

span.versiontitle {
  padding: 5px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
}

div.littletitle {
  padding: 5px;
  font-weight: bold;
  font-style: normal;
}

span.jamovi a {
  font-weight: bold;
  color:   #3E6DA9;
  font-family: Tahoma, Geneva, sans-serif;
  text-transform: lowercase;
}

span.modulename {
  font-weight: bold;
  color:   #3E6DA9;
  font-family: Tahoma, Geneva, sans-serif;
}


pre.jamovitable {
  color:black;
  background-color: white;
  margin-bottom: 35px;  
  font-size: 11px;
}
figure {
  margin-top: 30px;
  margin-bottom: 30px;
  
}
figcaption {
  font-size: 1.2em;
  font-style: italic;
  padding-top: 10px;
  
  
}

span.option {
    white-space: pre;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    font-family: monospace;
    font-weight: bold;
    font-family: Helvetica;
}

.return{
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight:  bold;
}

code {
  color: black;
}

.options {
  border-collapse: separate;
  border-spacing: 10px;
  margin-bottom: 20px;
}
tr {
  vertical-align: top;
}

div.filename {
  display: block;
  margin-bottom: 0px !important; 
}

span.filename {
  border-top-left-radius:  20px;
  border-top-right-radius:  20px;
  font-size: .75em;
  font-style: italic;
  float: right;
  padding: 15px;
  background-color: #f7f7f7 ;
 
}

.sourceCode {
  clear: both;
}



div.bignote {
  display: inline-block;
  padding: 15px;
  color:  #212f3c ;
  font-size: 1.1em;
  border-radius: 5px; 
  background-color:  #d6eaf8 ;
  margin-bottom: 10px;
}

div.enf {
  display: inline-block;
  padding: 15px;
  border-left: 10px solid   #d6eaf8;
  font-size: 1.1em;
  margin-bottom: 10px;
  text-align: justify;
}
